*{
	background-color: whitesmoke;
}

@font-face {
  font-family: madeline;
  src: url("font/madeline.ttf");
}

@font-face{
	font-family: justsans;
	src: url("font/justsans.ttf")
}

header{
	border-bottom: 6px dashed black;
}
h1{
	font-family: madeline;
	font-size: 4rem;
	text-align: center;

}

h2{
	font-family: madeline;
	font-size: 2rem;
	text-align: center;
}

h3{
	font-size: 1.6rem;
	text-align: center;
}

.warning{
	font-size: 14px;
	text-align: center;
}
p{
	font-family: justsans;
	font-size: 2rem;
	padding-left: 16px;
	padding-right: 16px;

}

.bg1, .bg2, .bg3, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .bg9, .bg10{
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg1{
	background-image: url("scenes/scene1.png");
	min-height: 100%;
}

.bg2{
	background-image: url("scenes/scene2.png");
	min-height: 100%;
}

.bg3{
	background-image: url("scenes/scene3.png");
	min-height: 100%;
}

.bg4{
	background-image: url("scenes/scene4.png");
	min-height: 100%;
}

.bg5{
	background-image: url("scenes/scene5.png");
	min-height: 100%;
}

.bg6{
	background-image: url("scenes/scene6.png");
	min-height: 100%;
}

.bg7{
	 background-image: url("scenes/scene7.png");
	min-height: 100%;
}

.bg8{
	background-image: url("scenes/scene8.png");
	min-height: 100%;
}

.bg9{
	background-image: url("scenes/scene9.png");
	min-height: 100%;
}

.bg10{
	background-image: url("scenes/scene10.jpg");
	min-height: 100%;
}